.filter-div{
    padding-inline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: royalblue;*/
    display: flex;
    flex-direction: column;
    font-family: Raleway;
}

.filter-title{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    border-bottom: #E5E5E5 solid 2px !important;
}

.filter-title p{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 14px;
}
.stock{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: #E5E5E5 solid 2px !important;
}

.stock  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.checkbox-btn-div{
    display: flex;
    justify-content: flex-start;
    accent-color: #5ECE7B;
}

.checkbox-btn{
    padding-right: 18px;
}

.price p{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 4px;
    text-align: left;
}

.price {
    border-bottom: #E5E5E5 solid 2px !important;
    padding-bottom: 10px;
    font-size: 18px;
}

.filter-close-btn {
    padding-top: 8px;
    padding-bottom: 10px;
}

.filter-close-btn button{
    text-transform: uppercase;
    background-color: #5ECE7B;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 18px;
}

input{
    border:  #E5E5E5 solid 2px !important;
    padding: 6px;
}