.item-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding-inline: 30px;
}

.item-image{
    background-image: url('Images/image.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 20px;
    width: 100%;
}


.item-info{
    padding: 20px;
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chip-btn{
    border: solid grey !important;
    padding: 15px;
    margin-inline: 10px;
    background-color: #fff;
    padding-inline: 20px;
}

.active-btn{
    background-color: #000000;
    color: #ffffff;
    border: solid #000000;
}

.btn{
    text-transform: uppercase;
    background-color: #5ECE7B;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 14px 90px;
}

.btn:hover{
    background-color: #56bb71;
}
